<footer class="footer">
  <div class="footer-inner">
    <div class="copyright">
      &copy; <%= date(new Date(), 'YYYY') %> <a href="https://guige.host"><%= config.author %></a>
      <br>
      <a href="mailto:<%= config.email %>"><i class="fa fa-envelope"></i> <%= config.email %></a>
      <br>
      微信公众号：与兔同行（<img src="/images/wechat-qr.png" width="100" alt="公众号二维码">）
    </div>
  </div>
</footer>